@import "tailwindcss";

body {
  background-color: #2b2b2b;
}

@keyframes idleFloat {
  0% { transform: translateY(0px) rotate(0deg) scale(1); }
  50% { transform: translateY(-10px) rotate(6deg) scale(1.05); }
  100% { transform: translateY(0px) rotate(0deg) scale(1); }
}

.animate-idle-float {
  animation: idleFloat 3s ease-in-out infinite;
}